target
/rls/
/libs/
/assets
/dist/tmp
/dist/out
/.cargo
/.vscode
/saves
/.idea
/builds

/licenses/licenses.json

/config.json
/keybinds.json
perf.svg
perf.data
log.json
crash-report-*

*-autosave.kra
*.blend1
*.dae
*.fbx
*.kra~
*.png~
*.iml
